In [7]:
# print all employee names in a company
employees = ["Sunny","Swathi","Raj","Penchal"]

for key , employee in enumerate(employees,start=+1):
    print(f" employee {key}: {employee}")

 employee 1: Sunny
 employee 2: Swathi
 employee 3: Raj
 employee 4: Penchal

In [8]:
# calculate the total bill in shopping cart

cart =[200,120,79,47]
total =0

for carts in cart:
    total+=carts
    
print("Final amount :",total)

Final amount : 446

In [9]:
# Print all even bus numbers

Bus_number =[113, 120, 103, 108, 126, 154, 132, 133,]

for number in Bus_number:
    if number%2 ==0:
        print("Even bus numbers are :", number)

Even bus numbers are : 120
Even bus numbers are : 108
Even bus numbers are : 126
Even bus numbers are : 154
Even bus numbers are : 132

In [10]:
# send birthday whishes to your friend

friend =["Sunny", "Raj","Vamshi","Sunil"]

for friends in friend:
    print(f" Happy birthday my dear {friends} !")

 Happy birthday my dear Sunny !
 Happy birthday my dear Raj !
 Happy birthday my dear Vamshi !
 Happy birthday my dear Sunil !

In [11]:
# Highest score in the class

scores  = [35,65,87,42,84,36,]

highest =scores[0]

for score in scores:
    if score > highest:
        highest =score
        
print("Highest score in the class :", highest)

Highest score in the class : 87

In [12]:
# seating arrangement in movie

for row in range (1,4):
    for seat in range (1,6):
        print(f" Row {row} seat {seat}")
        
print("------End Row ------")

 Row 1 seat 1
 Row 1 seat 2
 Row 1 seat 3
 Row 1 seat 4
 Row 1 seat 5
 Row 2 seat 1
 Row 2 seat 2
 Row 2 seat 3
 Row 2 seat 4
 Row 2 seat 5
 Row 3 seat 1
 Row 3 seat 2
 Row 3 seat 3
 Row 3 seat 4
 Row 3 seat 5
------End Row ------

In [17]:
# school time table

classes = ["Class-6","Class-7"]
Subjects = ["Maths","Physics","Science"]

for cls in classes:
    for subj in Subjects:
        
        print(f"{cls} has {subj} period")
print("--------------")

Class-6 has Maths period
Class-6 has Physics period
Class-6 has Science period
Class-7 has Maths period
Class-7 has Physics period
Class-7 has Science period
--------------

In [18]:
# hostel room allocation

for floor in range(1,4):
    for room in range(1,6):
        print(f" floor{floor} - room {room} ")

 floor1 - room 1
 floor1 - room 2
 floor1 - room 3
 floor1 - room 4
 floor1 - room 5
 floor2 - room 1
 floor2 - room 2
 floor2 - room 3
 floor2 - room 4
 floor2 - room 5
 floor3 - room 1
 floor3 - room 2
 floor3 - room 3
 floor3 - room 4
 floor3 - room 5

In [22]:
# find how many student passed in the exam

marks =[20,45,65,12,90,6,30]

passed =0

for m in marks:
    if m >=35:
        passed+=1
 
print("Total passed students :", passed)

Total passed students : 3

In [23]:
# print each character in a text

text ="Penchal"

for ch in text:
    
    print(ch)

P
e
n
c
h
a
l

In [25]:
# city area mapping

cities =["Delhi","Mumbai"]
areas =["area1","area2","area3"]

for city in cities:
    for area in areas:
        
        print(f" {city} -> {area}")

 Delhi -> area1
 Delhi -> area2
 Delhi -> area3
 Mumbai -> area1
 Mumbai -> area2
 Mumbai -> area3