In [ ]:
# A function is a reusable block of code that perform specific task
# Instead of writing multiple lines of code write in function use where ever you need
# creating a function using def keyword

In [1]:
# basic hello word calling function

def greet():
    print("Hello world")
    
# to call or invoke a function by using function name

greet()

Hello world

In [5]:
def greeting(name):
    output =f"Hello {name} i am an data engineer"
    return output

names=["Penchal","Vamshi","Raj"]
for name1 in names:
   res= greeting(name1)
   print(res)

Hello Penchal i am an data engineer
Hello Vamshi i am an data engineer
Hello Raj i am an data engineer

In [9]:
# even number print using functions

def odd_even(num):
    if num%2==0:
        return "Even number"
    else:
        return "Odd number"
    
res =odd_even(3)
print(res)

Odd number

In [11]:
for i in range (1,11):
   res= odd_even(i)
   print(i,res)

1 Odd number
2 Even number
3 Odd number
4 Even number
5 Odd number
6 Even number
7 Odd number
8 Even number
9 Odd number
10 Even number

In [16]:
i =0

while i<=10:
    res1 =odd_even(i)
    print(res1)
    i+=1

Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

In [1]:
# function without parameters

def greet():
    print("Hello welcome to my course")
    
greet()

Hello welcome to my course

In [2]:
# function with parameters

def greet_name(name):
    print(f"Hi my name is {name}")

greet_name("Penchal")
greet_name("Swathi")

Hi my name is Penchal
Hi my name is Swathi

In [3]:
# function with return value

def add(a,b):
    return a+b

result =add(5,5)

print(result)

10

In [4]:
# function with default parameters

def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Raj")
greet()

Hello, Raj!
Hello, Guest!

In [5]:
# function with multiple return values
def calculate(a, b):
    return a+b, a-b, a*b

sum_, diff, prod = calculate(10, 5)
print("Sum:", sum_)
print("Difference:", diff)
print("Product:", prod)

Sum: 15
Difference: 5
Product: 50

In [9]:
# Arbitrary arguments
# *args $ **kwargs

def total_sum(*args):
    return sum(args)

print(total_sum(20,30,40,50))


def details(**kwargs):
    for key, value in kwargs.items():
        print(f" {key} : {value}")
        
details(name="sunny", age=24, city="Hyderabad")

140
 name : sunny
 age : 24
 city : Hyderabad

In [10]:
# Data processing

def clean_data(names):
    return [name.strip().title() for name in names]

raw =[" swathi ", "raj" , " penchal "]

print(clean_data(raw))

['Swathi', 'Raj', 'Penchal']